html {
    height: 100%;
}

body {
    background-color: grey;
    background-image: url(/images/background3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}


.container {
    margin-left: auto;
    margin-right: auto;
    width: 53.3vw;
    display: grid;
}

 header {
    height: 25vh;
    text-align: center;
    display: grid;
    grid-template-columns: 2fr;
    img {
        width: 200px;
        height: 174px;
    }
    

}

#mobile-nav { 
    height: 1vh;
    margin-top: 1vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-decoration: none;
    width: 100%;

    #mobile-hamburger-menu {

        #mobile-menu-checkbox {
            height: 50px;
            width: 100px;
            align-items: center;
            position: absolute;
            opacity: 0;
            z-index: 5;
        }

        #mobile-menu-checkbox:checked ~ #mobile-nav-menu {
            opacity: 1;
            transition: all 0.5s ease-in-out;
        }


        #mobile-menu-checkbox:checked ~ #mobile-hamburger-container {
            opacity: 0;
            transition: all 0.5s ease-in-out;
        }
    }

    #mobile-hamburger-container {
        display: grid;
        justify-items: center;
        align-items: center;
        height: 50px;
        position: relative;
    }

    .mobile-hamburger-line {
        width: 4rem;
        height: 8px;
        background-color: white;
        align-items: table;
        margin: 0 auto;
        margin-right: auto;
        background-color: white;
        border: solid black;
        border-radius: 25px;
    }

    a {
        text-decoration: none;
        color: black;
    }

    #mobile-nav-menu {
        width: 100%;
        background-color: #d8b993e1;
        position: absolute;
        display: grid;
        justify-items: center;
        align-items: center;
        top: 10;
        left: 0;  
        height: 265px; 
        opacity: 0; 
        transition: all 0.5s ease-in-out;
        text-decoration: none;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: white;
        border-radius: 25px;
        width: 100%;
        font-size: 20px;

    }



}

#main {
    height: 66vh;
    display: grid;


    #mainwrap1 {
        width: 40vw;
    }

}

#main2 {
    height: 66vh;
    display: grid;


    #mainwrap1 {
        width: 40vw;
    }

}



.button2{
    text-decoration: none;
    display: grid;
    text-align: center;
    color:black;
    font-size: 1.2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

footer {
    height: 5vh;  

    border-radius: 25px;
    background:  #BE7938; 
    width: 12.5rem;
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr;
    width: 100%;
    font-family: 'Cutive Mono', monospace;


}

h1 {
    font-size: 4rem;
    text-align: left;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;

}

p {
    font-size: 1.2rem;
    text-align: left;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}

#number {
    padding-left: 120px;
    color: black;
}

@media screen and (min-width: 600px) {
    .button2 {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    #number {
        display: none;
    }
}



